@import 'core/variables';
@import 'components/assets';
@import 'components/entities';
@import 'components/assets-item';


.App {
  text-align: center;
  font-family: 'Overpass', sans-serif;
}
.App-header {
  background-color: #282c34;
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.collapsible{
  display: block;
  font-family: 30px;
}

.hidden{
  display: none;
}