@import 'core/variables';
@import 'components/assets';
@import 'components/entities';
@import 'components/assets-item';


.App {
  text-align: center;
  font-family: 'Overpass', sans-serif;
}
.App-main{
  min-width: 300px;
}
.App-header {
  background-color:grey;
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#ff6666;
}


.collapsible{
  display: block;
  font-family: 30px;
}

.hidden{
  display: none;
}
.App-header_tittle{
    background-image: url('./../images/logo-elix.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:1px;
    padding-top:150px;
    overflow:hidden;
    margin: 0px auto 20px auto ;
    width: 300px;
    @media all and (min-width:768px) {
        width:400px; 
    }
}